!!!!
.box_image
  = image_tag 'huacachina.jpg', class: 'huaca'
-# { :style => "background-image: url(#{image_url('huacachina.jpg')}) no-repeat center center fixed;" }
.box_table
  %h1 Huacachina
.ui.cards
  .card
    .content
      .header
        %i.info.circle.icon
      .meta Descripción
      .description
        "Oasis de América en medio del desierto de Ica."
  .card
    .content
      .header
        %i.map.signs.icon
      .meta Referencia
      .description
        A 10 minutos de la Plaza de Armas.
  .card
    .content
      .header
        %i.checked.calendar.icon
      .meta Cuándo viajar
      .description
        Entre los meses de Enero y Abril.
  .card
    .content
      .header
        %i.bullseye.calendar.icon
      .meta Atracciones
      .description
        Sunboarding, Tubular, Boat ride.
